/* Custom Properties from the figma design file. */
:root {
  --gray-950: hsl(0, 0%, 7%);
  --gray-500: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);

  --text-1_font-size: 1rem;
  --text-1_font-weight: ;
  --text-1_line-height: 150%;
  --text-1_letter-spacing: 0;

  
  --text-2_font-size: 1.2rem;
  --text-2_font-weight: ;
  --text-2_line-height: 150%;
  --text-2_letter-spacing: 0;
  
  --text-3_font-size: .875rem;
  --text-3_font-weight: ;
  --text-3_line-height: 150%;
  --text-3_letter-spacing: 0;
  
  --text-3-bold_font-size: .875rem;
  --text-3-bold_font-weight: ;
  --text-3-bold_line-height: 150%;
  --text-3-bold_letter-spacing: 0;

  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-300: 24px;
}