body{
    background-color: var(--yellow);
}

.preview-card{
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: min-content;
    padding: var(--space-300);
    margin: var(--space-150);
}

.hidden{
    display: none;
}

.blog-preview-image{
    width: 336px;
    img{
        border-radius: 10px;
    }
}